button {
    background: $dark-cyan;
    color: $white;
    border: none;
    padding: 1.15rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    &:hover {
        background: $dark-blue;
    }
}
